/*******************************************************************************

* 						Button                                      *

******************************************************************************/

 .root{
 	-light-black: rgb(74.0, 75.0, 78.0);
    -dark-highlight: rgb(87.0, 89.0, 92.0);
    -dark-black: rgb(39.0, 40.0, 40.0);
    -darkest-black: rgb(5.0, 5.0, 5.0);
    -mid-gray: rgb(216.0, 222.0, 227.0);
 }

 .button {	
 	 /*-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );*/
    /* -fx-background-color:  linear-gradient(#38424b 0.0%, #1f2429 20.0%, #191d22 100.0%);   */
 	 -fx-background-color:
        -darkest-black,
        -dark-highlight,
        linear-gradient(to bottom, -light-black 2.0%, -dark-black 98.0%);
    -fx-background-insets: 0.0, 1.0 1.0 1.0 0.0, 2.0 1.0 1.0 1.0;
    -fx-background-radius: 0.0; 
    -fx-text-fill: white;    
    -fx-font-size: 13.0px;    
    -fx-font-weight:bold;
 }
 
 .button:hover{
 	-fx-background-color:firebrick;
    /*-fx-background-color: 
        linear-gradient(from 0.0% 93.0% to 0.0% 100.0%, #a34313 0.0%, #903b12 100.0%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50.0% 50.0%, radius 100.0%, #ea7f4b, #c54e2c);*/
 }